<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>

    <ion-radio-group value="customer" (ionChange)="radioGroupChange($event)">
      <ion-list-header>
        <ion-label>Role</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Customer</ion-label>
        <ion-radio slot="start" value="customer"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Bussiness</ion-label>
        <ion-radio slot="start" value="bussiness"></ion-radio>
      </ion-item>
    </ion-radio-group>


    <ion-row>
      <ion-col> 
      <ion-button type="submit" (click)="signUp(email, password)" expand="block">Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
