

<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Bussinesses</ion-title>
    </ion-toolbar>
  </ion-header>,
  <ion-content fullscreen>
    <ion-item *ngFor="let bussiness of bussinesses" class="user-list">


      <ion-card button="true" href="{{'http://localhost:8100/make-appointment/'+bussiness.name}}">
        <ion-card-header>
          <ion-card-subtitle>{{bussiness.type}}</ion-card-subtitle>
          <ion-card-title>{{bussiness.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{bussiness.address}}
        </ion-card-content>
        <ion-button expand="block" [routerLink]="['/make-appointment']">Make Appointment</ion-button>
      </ion-card>
    </ion-item>


  </ion-content>
</ion-app>
